body {
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding-top: 3rem; /* Header Space */
    font-family: 'Montserrat', sans-serif;
    font-size: medium;
}
a {
    color: #153cb0;
}
a:hover {
    color: #ad1a2b;
}
.flexCenter {
    display: flex;
    align-items: center;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
}

/* Header */
header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    user-select: none;
    background-color: #ffffff;
    opacity: 0.98;
    border-bottom: solid 1px #000000;
    z-index: 2;
}
.headerLogo {
    margin: 0 auto 0 0.7rem;
    padding: 0;
    align-items: center;
    display: flex;
    flex: 1;
}
.headerLogoImg {
    height: 2.6rem;
    width: auto;
}
.headerLogoText {
    font-family: 'Josefin Slab', serif;
}
#humburgerButton {
    height: 1.6rem;
    width: auto;
    margin-right: 0.7rem;
    margin-left: 1rem;
}
#humburgerButton:active {
    content: url("/commonIMG/humburgerButtonClose.svg");
}
#humburgerMenu {
    z-index: 1;
    background-color: #f9fff5;
    margin: 0;
    padding: 3rem 1rem 2rem 1rem;
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
}
#humburgerMenu>li {
    display: block;
    font-size: 1.6rem;
    border-bottom: solid 1px #9c9c9c;
    padding: 0.4rem 0 0.4rem 1rem;
}
#humburgerMenu li:first-child {
    border-top: solid 1px #9c9c9c;
}
.humburgerMenuLink {
    display: block;
    font-family: sans-serif;
    text-decoration: none;
    color: #383838;
    user-select: none;
}
.humburgerMenuLink:hover {
    color: #707070;
}

/* Footer */
footer {
    font-family: sans-serif;
    width: calc(100%-1rem);
    padding: 6rem 1rem 2.6rem 1rem;
}
.footerCopyRight {
    margin-left: 0.6rem;
    font-size: 1rem;
    padding-top: 0.4rem;
    color: #404040;
}
.footerLogo {
    width: 2.2rem;
    height: auto;
}
.footerLink {
    margin: 0 1.2rem 1.2rem 1.2rem;
    text-decoration: none;
    color: #153cb0;
}

/* For Phone */
@media screen and (max-width: 1024px), screen and (max-aspect-ratio: 4/3) {
    #headerForPhone {
        display: flex;
        align-items: center;
    }
    .headerLogoText {
        margin: auto;
        padding-top: 0.4rem;
        font-size: 1.8rem;
    }
}

/* For PC */
@media screen and (min-aspect-ratio: 4/3) and (min-width: 1025px) {
    body {
        padding-top: 3.6rem;
    }
    .headerLogoImg {
        height: 3.2rem;
        margin-left: 1.2rem;
    }
    #headerForPC {
        font-family: 'Montserrat', sans-serif;
        height: 3.6rem;
        display: flex;
        align-items: center;
    }
    .headerLogoText {
        padding-top: 0.5rem;
        padding-left: 0.5rem;
        font-size: 2.4rem;
    }
    #headerForPC ul {
        list-style: none;
    }
    #headerForPC ul:last-child {
        margin-right: 4rem;
    }
    .headerLink {
        position: relative;
        display: inline-block;
        font-size: 1.6rem;
        margin-right: 3.8rem;
        padding-top: 0.5rem;
        color: #000000;
        text-decoration: none;
    }
    .headerLink::before {
        transition: 0.5s;
        content: "";
        position: absolute;
        left: 0;
        right: -0.2rem;
        top: 2.2rem;
        display: block;
        height: 1px;
        background-color: #000000;
    }
    .headerLink:hover::before {
        left: -0.5rem;
        right: -1.7rem;
    }
}